
footer#input-area
    div.box
        div.shobo-normal-mode.shobo-edit-mode.field.has-addons
            p.control
                button.button#bold-btn
                    span.icon.is-small
                        i.fas.fa-bold
                    span ぼーるど
            p.control
                button.button#italic-btn
                    span.icon.is-small
                        i.fas.fa-italic
                    span いたりっく
            p.control
                button.button#strike-btn
                    span.icon.is-small
                        i.fas.fa-strikethrough
                    span すとらいく
            p.control
                button.button#code-btn
                    span.icon.is-small
                        i.fas.fa-code
                    span こーど
        textarea.shobo-normal-mode.shobo-edit-mode.shobo-textarea.textarea#message(
            cols="60"
            rows="2"
            placeholder="いまなにしてる？"
            )
        button.shobo-edit-mode.button.is-primary.is-rounded#edited(disabled)
            span.icon.is-small
                i.fas.fa-check
            span かんりょう
        button.shobo-normal-mode.button.is-primary.is-rounded#send(disabled)
            span.icon.is-small
                i.fas.fa-paper-plane
            span そうしん
        button.shobo-normal-mode.shobo-edit-mode.button.is-primary.is-rounded#markdown-preview-open
            span.icon.is-small
                i.fab.fa-markdown
            span ぷれびゅー
        button.shobo-normal-mode.button.is-primary.is-rounded#input-area-hide
            span.icon.is-small
                i.fab.fa-arrow-down
            span かくす
        button.shobo-hidden-mode.button.is-primary.is-rounded#input-area-show
            span.icon.is-small
                i.fab.fa-arrow-up
            span みせる
        div#queryMessage
