
nav.navbar.is-primary#shobo-nav(role="navigation" aria-label="main navigation")
    div.navbar-brand
        p.navbar-item
            h1.title#shobo-title しょぼちゃっと
        a.navbar-burger(aria-label="menu" aria-expanded="false")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
    div.navbar-menu
        div.navbar-start
            div.navbar-item.has-dropdown.is-hoverable
                a.navbar-link#channel-dropdown-top ちゃんねる
        div.navbar-end
            div.navbar-item.buttons
                button.button.is-warning.is-light#help-open
                    span.icon.is-normal
                        i.fas.fa-question-circle
                    span へるぷ
                button.button.is-info.is-light#setting
                    span.icon.is-normal
                        i.fas.fa-cogs
                    span せってい

