
mixin popup_window(arg)
    div.modal(id=arg.id)
        div.modal-background
        div.modal-card
            header.modal-card-head
                p.modal-card-title #{arg.title}
                button.delete(id=arg.popup_close aria-label="close")
            if arg.content_id
                section.modal-card-body
                    div.content(id=arg.content_id)
            else
                section.modal-card-body
                    div.content
                        case arg.kind
                            when "help"
                                include:markdown-it(
                                    plugins=["markdown-it-fontawesome"]
                                    breaks
                                    ) ../markdown/help.md
