:root {
    --navbar-height: 55px;
}

/* <main parts> */
#shobo-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
}

#shobo-main {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    top: var(--navbar-height);
    height: calc(100vh - var(--input-area-height) - var(--navbar-height));
}

#input-area {
    position: absolute;
    bottom: 0;
    width: 100vw;
}
/* </main parts> */


.shobo-name {
    font-size: 23px;
    font-weight: bold;
    display: inline;
}

.shobo-time {
    font-size: 12px;
    display: inline;
}

.shobo-message {
    font-size: 20px;
    background: transparent;
}

.shobo-textarea {
    resize: none;
}

#queryMessage {
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
    color: red;
}

#shobo-title {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

#name {
    margin-bottom: 5px;
}

#message {
    margin-bottom: 5px;
}
