footer {
    position: fixed;
    bottom: 10px;
    width: 97%;
    background: #FFFFFF;
    padding: 10px;
}

.name {
    font-size: 23px;
    font-weight: bold;
    display: inline;
}

.time {
    font-size: 12px;
    display: inline;
}

.message {
    font-size: 20px;
}


.textarea {
  resize: none;
}

body {
  margin:10px;
}
