:root {
    --input-area-height: 300px;
    --input-area-padding: 10px;
    --input-area-bottom: 10px;
}

section {
    position: fixed;
    top: 0px;
    align-content: center;
}

footer {
    position: fixed;
    right: 10px;
    bottom: var(--input-area-bottom);
    width: 50%;
    background: transparent;
    padding: var(--input-area-padding);
    height: var(--input-area-height);
}

.name {
    font-size: 23px;
    font-weight: bold;
    display: inline;
}

.time {
    font-size: 12px;
    display: inline;
}

.message {
    font-size: 20px;
}

.main-contents {
    margin-bottom: calc(var(--input-area-height) +
                        var(--input-area-bottom) +
                        var(--input-area-padding));
}

.textarea {
  resize: none !important;
}

body {
  margin:10px;
}
