footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #FFFFFF;
    padding: 10px;
}

.name {
    font-size: 23px;
    font-weight: bold;
    display: inline;
}

.time {
    font-size: 12px;
    display: inline;
}

.message {
    font-size: 20px;
}
