
div.modal#help-popup
    div.modal-card
        header.modal-card-head
            p.modal-card-title Help
            button.delete#help-close(aria-label="close")
        section.modal-card-body.content
            include:markdown-it markdown/help.md
        footer.modal-card-foot
