div.field.has-addons#contextmenu
    p.control
        button.button#delete-msg
            span.icon.is-small
                i.fas.fa-trash-alt
            span けす
    p.control
        button.button#edit-msg
            span.icon.is-small
                i.fas.fa-edit
            span へんしゅう
