
nav.navbar.is-primary.shobo-nav(role="navigation" aria-label="main navigation")
    div.navbar-brand
        p.navbar-item
            h1.title#shobo-title しょぼちゃっと
        a.navbar-burger(aria-label="menu" aria-expanded="false")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
    div.navbar-menu
        div.navbar-start
        div.navbar-end
            div.navbar-item
                button.button.is-warning#help-open
                    span.icon.is-normal
                        i.fas.fa-info-circle
                    span Help
