doctype html
html
    - var title="しょぼちゃっと"
    - var js_file="chat"
    - var css_file="chat"
    include _head.pug
    body
        include _navigation.pug

        include _popup_window.pug

        +popup_window({
            id: "help-popup",
            popup_close: "help-close",
            kind: "help",
            title: "Help"
        })

        +popup_window({
            id: "markdown-preview",
            popup_close: "markdown-preview-close",
            content_id: "markdown-preview-body",
            title: "Markdown Preview"
        })

        div.shobo-main#messageList

        include _input_area.pug

        include _menu.pug
