doctype html
html
    - var head_js_file="chat"
    - var head_css_file="chat"
    include parts/_head.pug
    body
        include parts/_navigation.pug

        include parts/_popup_window.pug

        +popup_window({
            id: "help-popup",
            popup_close: "help-close",
            kind: "help",
            title: "Help"
        })

        +popup_window({
            id: "markdown-preview",
            popup_close: "markdown-preview-close",
            content_id: "markdown-preview-body",
            title: "Markdown Preview"
        })

        div.shobo-main#messageList

        include parts/_input_area.pug

        include parts/_menu.pug
