
div.modal#help-popup
    div.modal-card
        header.modal-card-head
            p.modal-card-title Help
            button.delete#help-close(aria-label="close")
        section.modal-card-body
            p メッセージ削除方法
            p メッセージを左クリックで長押しをすると、削除ができます
        footer.modal-card-foot
