extends _enter.pug

block head
    - var title="しょぼちゃっと - ろぐいん"
    - var js_file="client_login.js"
    - var css_file="page.css"
    include _head.pug

block prepend button
    - var btn_txt="ろぐいん"
    - var id="login"

