extends _enter.pug

block head
    - var title="しょぼちゃっと - ろぐいん"
    - var js_file="login"
    - var css_file="page"
    include _head.pug

block prepend button
    - var btn_txt="ろぐいん"
    - var id="login"

