
div.modal#markdown-preview
    div.modal-card
        header.modal-card-head
            p.modal-card-title Markdown Preview
            button.delete#markdown-preview-close(aria-label="close")
        section.modal-card-body.content#markdown-preview-body
        footer.modal-card-foot
