extends _enter.pug

block head
    - var title="しょぼちゃっと - とうろく"
    - var js_file="client_register.js"
    - var css_file="page.css"
    include _head.pug

block prepend button
    - var btn_txt="とうろく"
