extends _enter.pug

block head
    - var title="しょぼちゃっと - とうろく"
    - var js_file="register"
    - var css_file="page"
    include _head.pug

block prepend button
    - var btn_txt="とうろく"
    - var id="register"
